<div class="filter-container">
  <span>Filter: </span>

  <input type="radio" name="filter" value="All" [(ngModel)]="selectedRadioBtn" (change)="radioChanged()" />
  <span>All ({{ All }})</span>

  <input
    type="radio"
    name="filter"
    value="In Stock"
    [(ngModel)]="selectedRadioBtn"
    (change)="radioChanged()"
  />
  <span>In Stock ({{ inStock }})</span>

  <input
    type="radio"
    name="filter"
    value="Out of Stock"
    [(ngModel)]="selectedRadioBtn"
    (change)="radioChanged()"
  />
  <span>Out of Stock ({{ outOfStock }})</span>
</div>
